version: '3.4'

services: 

    db:
      image: postgres:17
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: Phetolo.Math28DB
      ports:
        - "5432:5432"
      volumes:
          - pgdata:/var/lib/postgresql/data

    cache:
      image: redis:latest
      ports:
            - "6379:6379"
    backend:
        build: ./backend
        environment:
            - ConnectionStrings__Math28DB=Host=db;Port=5432;Database=Phetolo.Math28DB;Username=postgres;Password=postgres;
            - ConnectionStrings__Redis=cache:6379
        ports: 
            - "5138:8080"
        depends_on:
            - db
            - cache

    frontend:
        build: ./AngularWeb
        ports:
            - "4200:4200"
        depends_on:
            - backend

volumes:
    pgdata: