name: build and Test .Net Applications
permissions:
  contents: read

on:
    [workflow_dispatch]

jobs:
   build-test-dotnetapp:
     runs-on: ubuntu-latest   
     
   steps:
    - uses: actions/checkout@v5
   
    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
       
    - name: Install dependencies
      run: dotnet restore
     
    - name: Build
      run: dotnet build --no-restore
     
    - name: Test with the dotnet CLI
      run: dotnet test --no-build
