name: build and Test .Net Applications
permissions:
  contents: read

on:
    [workflow_dispatch]

jobs:
   build-test-dotnetapp:
     runs-on: ubuntu-latest

     steps:
        - uses: actions/checkout@v4
   
        - name: Setup dotnet
          uses: actions/setup-dotnet@v4
          with:
            dotnet-version: '9.0.x'
       
        - name: Install dependencies
          working-directory: ./Backend
          run: dotnet restore
     
        - name: Build
          working-directory: ./Backend
          run: dotnet build --no-restore
     
        - name: Test with the dotnet CLI
          working-directory: ./Backend
          run: dotnet test --no-build
        
        - name: Code Coverage
          uses: b3b00/coverlet-action@1.2.5
          with:
            testProject: 'Backend/Tests/Phetolo.Math28.Core.XUnitTest/Phetolo.Math28.Core.XUnitTest.csproj'
            output: 'lcov.info'
            outputFormat: 'lcov'
            threshold: 80