name: build and Test .Net Applications
permissions:
  contents: read

on:
   push:
     branches: [ main ]

jobs:
   build-test-dotnetapp:
     runs-on: ubuntu-latest

     steps:
        - uses: actions/checkout@v4
   
        - name: Setup dotnet
          uses: actions/setup-dotnet@v4
          with:
            dotnet-version: '9.0.x'
       
        - name: Install dependencies
          working-directory: ./Backend
          run: dotnet restore
     
        - name: Build
          working-directory: ./Backend
          run: dotnet build --no-restore
     
        - name: Test with the dotnet CLI
          working-directory: ./Backend
          run: dotnet test --no-build -p:CollectCoverage=true -p:CoverletOutputFormat=cobertura -p:CoverletOutput=./coverage.cobertura.xml
        
        - name: Check Code Coverage
          uses: irongut/CodeCoverageSummary@v1.3.0
          with:
            filename: Backend/coverage.cobertura.xml
            badge: true
            fail_below_min: true
            format: markdown
            hide_branch_rate: false
            hide_complexity: true
            indicators: true
            output: both
            thresholds: '80 95'